<div class="row left">
  <div class="medium-3 columns">
   <ul class="side-nav" role="navigation" title="Link List">
     <li role="menuitem">{{link-to "Edit Account" 'account.edit' id="edit-account"}}</li>
     <li role="menuitem">{{link-to "Delete Account" 'account.delete' id="delete-account"}}</li>
   </ul>
  </div>
  <div class="small-9 columns">
    {{outlet}}
  </div>
</div>
