<div class="row">
  <div class="small-6 small-offset-3">
    {{#unless emailSent}}
      <form {{action "sendForgottenPasswordEmail" on="submit"}}>
        <label for="email">Please enter your email:</label>
        {{input type="text" id="email" value=email}}
        <button type="submit">Submit</button>
      </form>
    {{else}}
      <h4 id="success">Email successfully sent, check your inbox!</h4>
    {{/unless}}
  </div>
</div>
